HELP.md
node_modules/
.gradle
build/
.env
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
front/platform/stats.html
front/platform/html
%programdata%/Geni
# datasource-platform 모듈의 로컬 설정
datasource/platform/gradle.properties
gradle.properties.example
datasource/platform/src/generated
front/react-workspace/tsconfig.node.tsbuildinfo
front/react-workspace/tsconfig.app.tsbuildinfo
**/.claude/settings.local.json
front/react-workspace/src/api/generated/model
front/react-workspace/src/api/generated/hooks
