.thDate {
  width: 280px;
}

.cellCenter {
  text-align: center;
}

.addButton {
  white-space: nowrap;
}

.deleteButton {
  white-space: nowrap;
}

.cellDatePicker {
  width: 100%;
  min-width: 0;
}

.cellInput {
  width: 100%;
  min-width: 0;
}
