.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.card {
  width: 100%;
  min-width: 20rem;
  max-width: 28rem;
  flex-shrink: 0;
}

.form {
  width: 100%;
}
